@import "foundation";

body {
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.items-container{
  @include outerRow();
  margin-top: 30px;
  .outer-item{
    padding-top: 10px;
    .item {
      @include column(8);
      padding-top: 5px;
      padding-bottom: 5px;
      color: #aaa;
      background-color:rgba(0,0,0,0.5);
      a.check {
        float: right;
        display: none;
      }
      &:hover:not(.checked){
        font-size: 28px;
      }
      &:hover a.check {
        display: inline;
      }
      &.checked {
        text-decoration: line-through;
        color: #666;
      }
    }
  }
  #new-item {
    @include column(12, true);
    textarea {
      margin-top: 40px;
      border: none;
      background-color:rgba(0,0,0,0);
      box-shadow: none;
      color: #fff;
      resize: none;
      width: 100%;
      min-height: 400px;
      font-size: 100px;
    }
  }
}
::-webkit-input-placeholder {
  color: #fff;
}
.placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}

#login-container{
  @include outerRow();
  margin-top: 40px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 25px;
  h1 {
    color: #fff;
    margin-bottom: 25px;
  }
  .glyph {
    font-size: 25px;
  }
}
